docker {
    enabled = true
    remove  = true
}

process {
    executor="slurm"
    queue = 'cpu_part'
    errorStrategy='retry'
    maxRetries=3

}

params{

i               = "./data"
o               = "./analysis"
d               = "./"
cancer          = "NA"

//DB
//fa              = "/public/home/weihuang/01.Database/hg38/hg38.fa"
fa              = "/public/datasets/ngs/pipeline-reference-data/hg_fasta/hg38_fasta_1/hg38.fa"

//QC
qc_cpu          = "8"
clean_rate      = "60"
min_len         = "30"
fastp           = "/public/home/weihuang/miniconda3/bin/fastp"
fastp_stat      = "/public/home/weihuang/03.pipeline/01.LIHC_NSCLC_panel/scr/fastp.log2tab.py"
check_cleanR    = "/public/home/weihuang/03.pipeline/01.LIHC_NSCLC_panel/scr/tab_checkCleanRate.pl"

//dep_cov        
count_dep       = "/public/home/weihuang/03.pipeline/01.LIHC_NSCLC_panel/scr/count_depth.py"
map_stat        = "/public/home/weihuang/03.pipeline/01.LIHC_NSCLC_panel/scr/get_data_quality.pl"
dep_cov_stat    = "/public/home/weihuang/03.pipeline/01.LIHC_NSCLC_panel/scr/dep_cov_stat.pl"
qc_stat         = "/public/home/weihuang/03.pipeline/01.LIHC_NSCLC_panel/scr/qc_stat.py"
hg38_gene_bed   = "/public/home/weihuang/01.Database/hg38/hg19.gene.bed"

//Map
mapping_cpu     = "8"
samtools        = "/public/home/weihuang/02.soft/bash_command/samtools"
bedtools        = "/public/home/weihuang/02.soft/bash_command/bedtools"
sambamba        = "/public/home/weihuang/02.soft/bash_command/sambamba"
bwa             = "/public/home/weihuang/02.soft/bash_command/bwa"
sinotools       = "/public/datasets/ngs/pipeline-programs/sinotools/sinotools-1.2.6/bin/sinotools"

//Motif-frag_szie
motif_cpu       = "6"
motif_frag      = "/public/home/weihuang/04.project/05.WGS/scr/get_motif_fragsize.py"
motif_frag_6bp  = "/public/home/weihuang/04.project/05.WGS/scr/get_motif_fragsize_v1.0.1.py"
fea_vis         = "/public/home/weihuang/04.project/05.WGS/scr/feature_visualize.py"
GenRange        = "/public/home/weihuang/04.project/05.WGS/bin/Range.csv"

}















